In [1]:
import requests, json; import pandas as pd
pd.set_option('display.max_rows', None); pd.set_option('display.width', 1000)

def er(url, head): 
    global r; r = requests.get(url, headers = head)
    if r.status_code != 200: er(url, head) 
    if r.text[11:13] != 'OK': er(url, head)
    return r


def st(state):
    df = pd.DataFrame(columns=['st', 'dist', 'name', 'id', 'party', 'total', 'pac', 'win'])
    u = 'https://api.propublica.org/campaign-finance/v1/2020'
    h = {'X-API-Key': '1Jhq0HWz3e6q5NKZ2mwfa2GuoxedWAOKzhueEJgj'}
    cans = er(u+'/races/%s/house.json' %state, h).json()['results']
    
    for i in range(len(cans)):
        df = df.append({'st': state,
                        'name': cans[i]['candidate']['name'].lower(), 
                        'id': cans[i]['candidate']['id'], 
                        'party':cans[i]['candidate']['party'],},ignore_index = True)
        
    for j in range(len(df)):
        can_data = er(u+'/candidates/%s.json' %(df.iloc[j,3]), h).json()
        district = can_data['results'][0]['district']
        df.iat[j,1] = 98 if district == None else 99 if not district[16:18].isnumeric() else int(district[16:18])
        df.iat[j,5] = int(can_data['results'][0]['total_contributions'])
        df.iat[j,6] = int(can_data['results'][0]['total_from_pacs'])
    
    return df

In [2]:
states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 
    'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 
    'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [3]:
al = st(states[0])

In [4]:
print(al)

    st dist                                    name         id party    total      pac  win
0   AL    4                aderholt, robert b. rep.  H6AL04098   REP  1280421   739300  NaN
1   AL    1                        catalano, thomas  H0AL01147   OTH        0        0  NaN
2   AL    2                         taylor, jessica  H0AL02178   REP   468809    29505  NaN
3   AL    6                            palmer, gary  H4AL06098   REP   866770   397600  NaN
4   AL    2                          dismukes, will  H0AL02137   REP    15043        0  NaN
5   AL    2                        rogers, robert l  H6AL02159   REP    23574        0  NaN
6   AL    2                          mathis, nathan  H6AL02167   DEM    12230        0  NaN
7   AL    6                      allen, anders pope  H0AL06104   REP        0        0  NaN
8   AL    1                     carl, jerry lee, jr  H0AL01055   REP  1437851   387000  NaN
9   AL    1               pringle, christopher paul  H0AL01071   REP   491715    27600  NaN
10  AL    1                         hightower, bill  H0AL01089   REP  1321956    53200  NaN
11  AL    3                        thompson, hannah  H0AL03192   DEM        0        0  NaN
12  AL    2                      moore, felix barry  H8AL02171   REP   646815   230281  NaN
13  AL    3                           winfrey, adia  H8AL03062   DEM    49973      107  NaN
14  AL    2                         hasdorff, terri  H0AL02194   REP    82156        0  NaN
15  AL    1                         castorani, john  H0AL01121   REP    11650        0  NaN
16  AL    5                              brooks, mo  H0AL05163   REP   667374   250020  NaN
17  AL    2               brown, thomas william jr.  H0AL02160   REP     5000        0  NaN
18  AL    2                            page, john c  H0AL02186   LIB        0        0  NaN
19  AL    5                    strong, dale whitney  H2AL05102   REP        0        0  NaN
20  AL    5                            lewis, chris  H0AL05205   REP   137471    15000  NaN
21  AL    6               pellegrino, kaynen bryant  H0AL06112   NPA        0        0  NaN
22  AL    7                        sewell, terri a.  H0AL07086   DEM  2168365  1760802  NaN
23  AL    7               stokes, camron devin hon.  H0AL07193   DEM        0        0  NaN
24  AL    2                    harvey-hall, phyllis  H0AL02202   DEM    45462     2032  NaN
25  AL    1            lambert, douglas westley iii  H0AL01063   REP    72564     4000  NaN
26  AL    1                         averhart, james  H0AL01097   DEM    50849        0  NaN
27  AL    1                        gardner, kiani a  H0AL01105   DEM   112661    19000  NaN
28  AL    1  romagnano, chase anderson andy reveren  H0AL01113   REP        0        0  NaN
29  AL    1             collins, frederick g. rick'  H0AL01139   DEM    62417        0  NaN
30  AL    2                            roby, martha  H0AL02087   REP   215300   161500  NaN
31  AL    2                           coleman, jeff  H0AL02145   REP  1476944   231000  NaN
32  AL    3                         rogers, michael  H2AL03032   REP  1196102   744733  NaN
33  AL    2                              king, troy  H0AL02152   REP   286727    11000  NaN
34  AL    1                  byrne, bradley roberts  H4AL01123   REP        0        0  NaN
35  AL    4                        neighbors, ricky  H8AL04086   DEM    44567     9504  NaN